{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h1>tesssssst</h1>
    <div class="fos_user_user_show">
        <p>Je change le contenu ici</p>
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
{% endblock fos_user_content %}
