{% extends 'base.html.twig' %}

{% block body %}
    <h1>Anime Genres</h1>
    <p>Select a genre</p>

    <div class="row genres">
        {% for animeGenre in animeGenres %}
            <a href="{{ path('animegenre_show', {'id': animeGenre.id }) }}">
                <div class="col s12 m6 l3">
                    <p class="episode_bg">{{animeGenre.name}}</p>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
