{% extends 'base.html.twig' %}

{% block body %}
    <h1>Animegenres list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animeGenre in animeGenres %}
            <tr>
                <td><a href="{{ path('animegenre_show', { 'id': animeGenre.id }) }}">{{ animeGenre.id }}</a></td>
                <td>{{ animeGenre.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('animegenre_show', { 'id': animeGenre.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
