body{
  background-color: #E8E8E8;
  font-family: times;
}

header {
  background: white;
  display:flex;
  padding:20px 0;
  text-align: center;
}

header .logo {
  margin-right: 20px;
}

header .menu {
  box-sizing: border-box;
  width: 218px;
  height: 70.18px;
  background: radial-gradient(circle, #F8FEFF 0%, #C8F7FC 0.12%, #87ECFF 21.26%, #008DFF 100%);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.17);
  border: 1px solid rgba(0,141,255,0.41);
  border-radius: 5px;
}

header .menu__text {
  text-align: center;
  height: 48px;
  font-family: "Gochi Hand";
  font-size:35px;
  line-height: 0px;
  color: #FFFFFF;
}

header ul li{
  display: inline-block;
  padding:0 5px;
}


header .user_infos {
  float: right;
}



/* Content */

.container {
  padding-top:20px;
}

.date {
  width: auto;
  height: 392px;
  background-color: #FFFFFF;
  border: 2px solid #1700F3;
  border-radius: 30px;
  font-family: "Gochi Hand";
  margin-bottom: 10px;
}

.date p {
  font-size:50px;
}
