@font-face {
    font-family: SourceCodePro;
    src: url(../fonts/SourceCodePro-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: SourceCodeProBold;
    src: url(../fonts/SourceCodePro-Bold.ttf);

}

body{
  font-family: 'SourceCodePro';
}

header {
  display:flex;
  padding:20px 0;
  text-align: center;
}

header .logo {
  margin-right: 20px;
}

header .menu {
  box-sizing: border-box;
  width: 218px;
  height: 70.18px;
  background: radial-gradient(circle, #F8FEFF 0%, #C8F7FC 0.12%, #87ECFF 21.26%, #008DFF 100%);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.17);
  border: 1px solid rgba(0,141,255,0.41);
  border-radius: 5px;
}

header .menu__text {
  text-align: center;
  height: 48px;
  font-family: "Gochi Hand";
  font-size:35px;
  line-height: 0px;
  color: #FFFFFF;
}

header ul li{
  display: inline-block;
  padding:0 5px;
}


header .user_infos {
  float: right;
}



/* Content */

h1 {
  font-family: source code pro;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.container {
  padding-top:20px;
}

.aired_today {
  width: auto;
  height: 392px;
  background-color: #FFFFFF;
  border: 2px solid #1700F3;
  border-radius: 30px;
  font-family: "Gochi Hand";
  margin-bottom: 10px;
}

.aired_today p.date {
  font-size:40px;
  margin: 20px 0;
}

.info {
  background-color: #EDEDED;
}

strong {
  font-family: "SourceCodeProBold"
}

.anime_title{
  background-color: #040404!important;
  color:white;
}

.ads {
  width:200px;
}

@media only screen and (max-width:1550px) {
  .ads {
    width:150px;
  }

  .ads img{
    width:150px;
  }
}

@media only screen and (max-width:1310px) {
  .ads {
    display:none;
  }
}

.episode_bg {
  background:rgb(224,224,224);
}

/*select{
display:block!important;
}*/


button.active, button.inactive:focus, button.inactive:hover {
    background-color: red !important;
}
button.inactive, button.active:focus, button.active:hover {
     background-color: grey;
}

.genres a {
  cursor: pointer;
}

.genres a:focus, .genres a:hover, .genres a:active {
  color: red;
}
